.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* padding: 12px 16px; */
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-hover:hover {
    color: #16181b;
    background-color: lightgray;
}

.icon-spacing {
    padding-left: .25em;
}

.hamburger {
    display: none;
    width: 100%;
}

.hamburger-icon {
    font-size: 3em;
}

.nav {
    list-style-type: none;
    text-align: center;
    /* Remove default styling */
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}


/* Media Query Section */

@media only screen and (max-width: 450px) {
    body {
        background-color: lightblue;
    }
    .hamburger {
        display: inline;
    }
    .navigation {
        display: none;
    }
}